configuration {
    /* removes hjkl binds */
    kb-remove-to-eol: "";
    kb-mode-complete: "";
    kb-accept-entry: "";
    kb-remove-char-back: "BackSpace";
    kb-clear-line: "";
    kb-row-up: "Control+k,Up";
    kb-row-down: "Control+j,Down";
    kb-mode-next: "Control+l,left";
    kb-mode-previous: "Control+h,right";
    kb-accept-entry: "Return";
}

