/* @import '../../.cache/wal/colors-waybar.css'; */
@import './colors.css';
* {
    border: none;
    border-radius: 0px;
    font-family: "Maple Mono NF";
    /* font-weight: bold; */
    font-size: 20px;
    padding: 0px 0px;
    margin: 0px;
    /* margin: 0px 0px; */
    /* min-height: 50px; */
    /* background: #ffffff; */
    background: @background;
    /* background: rgba(242, 234, 187, 0.1); */
    /* background: rgba(0,0,0,1); */
}
#custom-notification,
#custom-power_profile,
#custom-weather,
#custom-music,
#clock,
#disk,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#window,
#tray,
#mpd,
#custom-notification
#backlight {
    /* font-size: 18px; */
    color: @foreground-alt;
}


window#waybar {
    /* background: rgba(0,0,0,0); */
}
#window,#workspaces button{
    /* font-size:16px; */
    color: @foreground;
}

tooltip {
    /* background: @background; */
    /* border-radius: 10px; */
    /* border-width: 2px; */
    border-style: solid;
    border-color: #11111b;
}


#workspaces button.active {
    color: @color1;
    background: @background-alt;
}

#memory {
    color: @primary;
}

#custom-music {
    /* font-size: 12px; */
    /* background :@background; */
    color: @foreground-alt;
}

#backlight {
    color: @color4;
}

#clock {
    color: @foreground-alt;
    /* border-radius: 10px; */
    /* margin-left: 10px; */
    /* border-right: 10px; */
}

#pulseaudio {
    color: @foreground-alt;
    padding:0px;
}
#battery {
    color: @color1;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* border-radius: 10px 10px 10px 10px; */
    /* margin-right: 10px */
}
#network  {
}
#network {
    color: @primary;
    /* border-radius: 10px 0px 0px 10px; */
    /* border-radius: 10px 10px 10px 10px; */
    /* margin-right: 10px */
}

#bluetooth {
    color: @primary;
} 

.red {color: #ffffff;}

#pulseaudio{
    /* border-radius: 0px 10px 10px 0px; */
    /* margin-right: 10px; */
}

#custom-weather {
    border-right: 0px;
}/*}}}*/
#custom-notification {
    /* font-size: 20px; */
    /* background: @background; */

}
#custom-power_profile {
}

#mpd.stopped {
    color: @foreground;
}

#mpd.disconnect {
    color: @color1
}

#battery,#bluetooth,#custom-notification{
    padding: 0px 10px;
}
#pulseaudio,#mpd {
    padding-left: 10px;
}
